<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63470752607-b7p5mjv0qj7h56o3q4g4be4uctsh7n2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63470752607-b7p5mjv0qj7h56o3q4g4be4uctsh7n2j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63470752607-39h80hobcv0g5kjpds6gdn9dktalfp8p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOk11LPvyTr8rjUs4M0-RRh60ByBCAG9k</string>
	<key>GCM_SENDER_ID</key>
	<string>63470752607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-9b9c2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-9b9c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63470752607:ios:c44ac0c028aa9f12c29cea</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-9b9c2.firebaseio.com</string>
</dict>
</plist>